:root {
  --main-text-color: #757575;
  --main-background-color: #ffffff;
  --title-color: #212121;
  --accent-color: #2196f3;
  --hero-footer-background: #2f303a;
  --team-section-button-color: #f5f4fa;
}
/* colors
#212121-title
#2196F3-hover and button
#FFFFFF-background,button text color and hero title color
#757575-text
#F5F4FA-team section background
#2F303A-hero and footer background


*/
/* Студия */
body {
  color: var(--main-text-color);
  background-color: var(--main-background-color);
  font-family: 'Roboto', sans-serif;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.header div {
  display: flex;
  align-items: center;
}
.nav-list,
.contact-list,
.lists {
  list-style: none;
}
.nav-list {
  display: flex;
}
.nav {
  margin-right: 50px;
}
.contact-list {
  display: flex;
  margin-left: auto;
}
.contact {
  margin-right: 50px;
}
.nav:last-child,
.contact:last-child {
  margin-right: 0px;
}
.logo-color {
  color: #2196f3;
}
.logo {
  margin-right: 93px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
  text-decoration: none;
}
.link {
  text-decoration: none;
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.contact-list .link {
  color: var(--main-text-color);
}
.contact-list .link:hover,
.contact-list .link:focus {
  color: var(--accent-color);
}
.hero {
  background-image: url(../images/background-images/hero.jpg);
  background-color: var(--hero-footer-background);
  max-width: 1600px;
  padding-bottom: 94px;
  padding: 200px 0px 200px 0px;
  margin-right: auto;
  margin-left: auto;
}
.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-background-color);
  margin-bottom: 30px;
}
.hero-button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--main-background-color);
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid transparent;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-title,
.subtitle,
.subtitle-team {
  color: var(--title-color);
}
.section-title.hide {
  display: none;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.lists {
  display: flex;
}
.lists-item {
  width: 270px;
  margin-right: 30px;
}
.lists-item:last-child {
  margin-right: 0;
}
.work-section {
  padding-top: 0;
}
.img-lists {
  display: flex;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.img-lists-item {
  margin-right: 30px;
}
.img-lists-item:last-child {
  margin-right: 0;
}
.section-team {
  padding-top: 0;
  background-color: var(--team-section-button-color);
}
.team-lists {
  display: flex;
  list-style: none;
}
.team-lists-item {
  margin-right: 30px;
}
.team-lists-item:last-child {
  margin-right: 0;
}
.team-subtitle {
  padding-top: 30px;
  padding-bottom: 30px;
}
.subtitle-team {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.text-team {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.footer {
  padding: 60px 0 60px 0;
  background-color: var(--hero-footer-background);
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
  color: var(--main-background-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer .address-link {
  color: var(--main-background-color);
}
.address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-contact-list {
  display: block;
  padding: 0px;
  list-style: none;
}
.address-link {
  display: inline-block;
  margin-bottom: 9px;
  text-decoration: none;
  color: var(--main-background-color);
}
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}
.contact-list-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-link {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
/* Портфолио */
.porfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-title {
  opacity: 0;
}
.lists-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  list-style: none;
}
.button-item {
  margin-right: 8px;
}
.button-item:last-child {
  margin-right: 0;
}
.button {
  cursor: pointer;
  background-color: var(--team-section-button-color);
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
}
.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--main-background-color);
}
.porfolio-container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
}
.work-lists {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.work-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.work-item:nth-child(3n) {
  margin-right: 0;
}
.work-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-text {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.subtitle-portfolio {
  margin-bottom: 4px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.text-portfolio {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
